<div class='well' ng-controller='SalesPersonListCtrl'>
	<div class='form-group'>
		<input class='form-control' placeholder='Add New Salesperson' ng-model='name'/>
		<button class='btn btn-primary' ng-click='create()' ng-disabled='!name'> Create </button>	
	</div>

	<div> 
		<br clear='all'/> 
	</div>
	<div>
		<ul class='list=group'>
				<li class='list-group-item' ng-repeat='salesPerson in salesPeople'>
					{{ salesPerson.name }}
					<button class='btn btn-danger pull-right' ng-click='destroy(salesPerson)'> Delete </button>
					<br clear='all'/>
				</li>
		</ul>
	</div>

</div>