<div class='container' ng-controller='SalesPersonListCtrl'>
	<form name='form'>
		<div class='form-group well'>
			<input class='form-control' placeholder='Add New Salesperson' ng-model='name' required/>
			<button class='btn btn-primary' ng-click='create()' ng-disabled='form.$invalid'> Create </button>	
		</div>
	</form>
	<div> 
		<br clear='all'/> 
	</div>
	<div>
		<ul class='list-group'>
				<li class='list-group-item well' ng-repeat='salesPerson in salesPeople'>
					{{ salesPerson.name }}
					<button class='btn btn-danger pull-right' ng-click='destroy(salesPerson)'> Delete </button>
					<br clear='all'/>
						 <ul class='list-group'>
							 <li ng-class="hasAssignment(salesPerson, region) ? 'list-group-item list-group-item-success' : 'list-group-item' " ng-repeat='region in regions'>
							 <a ng-click='toggleAssignment(salesPerson, region)'>{{ region.zipCode }}</a>
							 </li>
						 </ul>
				</li>
		</ul>
	</div>

</div>