<div class='well container' ng-controller='RegionListCtrl'>
	<form name='form'>
		<div class='form-group'>
			<input class='form-control' placeholder='Add New Region' ng-model='zipCode' required/>
			<button class='btn btn-primary' ng-click='create()' ng-disabled='form.$invalid'> Create </button>	
		</div>
	</form>
	<div> 
		<br clear='all'/> 
	</div>

	<div>
		<ul class='list=group'>
				<li class='list-group-item' ng-repeat='region in regions'>
					{{ region.zipCode }}
					<button class='btn btn-danger pull-right' ng-click='destroy(region)'> Delete </button>
					<br clear='all'/>
				</li>
		</ul>
	</div>

</div>